body {
  font-size: 16px;
  color: #ffffff;
  background-color: #1b2033;
  font-family: 'Oxygen', sans-serif;  
}

/* HEADER */
#header-nav {
  background-color: #cdbeff;
  color: #000000;
}

#logo-img {
  background: url('../img/severus_logo.png') no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0; 
}

.navbar-brand {
  padding: 20px;
}

.navbar-brand h1 {
  color: #2d2622;
  font-weight: bold;
  text-shadow: 1px 1px 1px #000000;
}

.navbar-brand a:link {
  text-decoration: none;
}

.navbar-brand p {
  margin: 0px;
}

#navbar-quote {
  font-size: 1.2em;
}

#navbarNav a{
  color: #1b2033;
  text-align: center;
  font-size: 1.5em;
}

#navbarNav a:hover {
  background-color: #1b203341;
}

#navbarNav i {
  padding-right: 5px;
}
/* END HEADER */

/* MAIN */
#my-love-tile, #magic-tile, #map-tile {
  height: 250px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  box-shadow: 0px 1px 5px 1px #000000;
  overflow: hidden;
}

#my-love-tile:hover, #magic-tile:hover, #map-tile:hover {
  box-shadow: 0px 1px 5px 1px #cdbeff;
}

#my-love-tile {
  background: url(../img/my-love-tile.jpg) no-repeat;
  background-position: center;
}

#magic-tile {
  background: url(../img/magic-tile.jpg);
  background-position: center;
}

#my-love-tile span, #magic-tile span, #map-tile span {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  background-color: #000000;
  color: #ffffff;
  opacity: 0.8;
}

